body {
    font-family: "Poppins", system-ui;
    font-size: 16px;
    line-height: 1.15;
    padding: 0;
    overflow: auto;
    overflow-y: scroll;
    background-color: black;
}

.main {
    font-family: "Poppins", system-ui;
    font-size: 16px;
    line-height: 1.15;
    overflow: auto;
    color: rgb(0, 157, 255);
}

#command-in {
    width: 70%;
    height: fit-content;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: "Poppins", system-ui;
    color: white;
    overflow: wrap;
}


#computer-out {
    color: rgb(30, 243, 79);
}

#location {
    color: rgb(0, 157, 255);
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}