/* Transition color palette */
:root {
  --color-green: #7FFFD4;
  --color-blue: #00A8E8;
  --color-pink: #FCD2E7;
  --color-yellow: #FFEB3B;
  --color-white: #FFF;
}

body {
  font-family: "Poppins", system-ui;
  font-size: 16px;
  line-height: 1;
  color: rgb(14, 14, 14);
  margin: 0;
  padding: 0;
  overflow: auto;
  background: radial-gradient(circle at bottom, var(--color-white), transparent 80%),
              linear-gradient(to top, var(--color-blue) 0%, transparent 70%),
              linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4) 70%),
              var(--color-blue);
  animation: colors 30s infinite;
  overflow-y: scroll;
}

.nav-bar {
  width: 100%;
  height: fit-content;
  background-color: rgba(245, 245, 245, 0.375);
  font-size: 2.0vh;
  text-align: right;
  font-style: italic;
}

#footer {
  background-color: rgba(245, 245, 245, 0.375);
  height: 17%;
  width: 100%;
  overflow: hidden;
  position:relative;
  padding-top: 10px;
  margin: 0;
  margin-top: auto;
}
.footer-text {
  font-size: 1.5vh;
  text-align: center;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-weight: 500;
}
.footer-text ul {
  margin: auto;
  padding-top: 20px;
}
.footer-text li {
  margin-top: 5px;
  padding: 5px;
  margin: auto;
  list-style-type: none;
  vertical-align: middle;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icon {
  width: 2.5vh;
  height: 2.5vw;
  padding-left:7.5px;
  padding-right: 7.5px;
}

#icon {
  text-align: left;
  float: left;
  white-space: nowrap;
  width: 50px;
  height:60px;
  padding-left: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: rgb(14, 14, 14);
  font-weight: 300;
}

.nav-bar li {
  display: inline-block;
  margin: 0 2px;
  padding: 20px;
  list-style-type: none;
  vertical-align: middle;
}

.main {
  background-color: rgba(245, 245, 245, 0.375);
  padding: 2rem;
  border-radius: 100px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container button {
  display: none;
  border: none;
  border-radius: 100px;
  font-family: "Poppins", system-ui;
  font-size: 0.90em;
  background-color: transparent;
  animation: colors 30s infinite;
  width: 100px;
  height: 40px;
  margin: 0 5px;
}

h1 {
  font-size: 3em;
  font-weight: 475;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(14, 14, 14);
  padding-bottom: 5px;
}

p {
  margin-top: -20px;
  font-size: 2.75vh;
  font-weight: 350;
  margin-bottom: 2rem;
}

.text_body {
  background-color: rgba(245, 245, 245, 0.375);
  margin:auto;
  width:70%;
  height: fit-content;
  padding: 20px;
  margin-bottom: 30px rgba(255, 255, 255, 0);
}

.tile_body {
  background-color: rgba(245, 245, 245, 0.375);
  margin:auto;
  width:70%;
  padding: 20px;
  margin-bottom: 30px rgba(255, 255, 255, 0);
}

.tile_body img {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*#ZEUS-discript {
  background-image: url("../static/Zeus_Sexy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}*/

.exit {
  float: right;
  background-color: transparent;
  border: transparent;
  box-shadow: 0px 0px 2px gray;
  background-size: contain;
  border-radius: 500px;
  text-align: center;
  vertical-align: middle;
  margin:auto;
  color:black;
  cursor: pointer;
  font-size: 10px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;

}

/* New div elements with unique and creative styling */

.new-div {
  color: var(--color-white);
  padding: 3rem;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

#tile-title {
  background-color: red;
  background-color: rgba(245, 245, 245, 0.375);
  height: fit-content;
  width: 80%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1.3vw;
}

.tile_index {
  background-color: #f5f5f560;
  height: fit-content;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 5%;
  
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  /*
  display: grid;
  column-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;;
  grid-row-gap: 5%;
  align-items: center;
  vertical-align: middle;
  padding: 5%;
  margin: auto;
  justify-content: center;
  */
}

.tile {
  height: 25vh;
  width: 25vh;
  background-color: rgba(245, 245, 245);
  padding: 5%;
  text-align: center;
  border-radius: 20px;
  image-rendering: auto;
  justify-content: center;
  transition: transform 0.3s ease;
  vertical-align: middle;
  margin: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.tile p {
  margin: 0px;
  margin-top: 5px;
  font-size: 1.5em;
}
.tile h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
}
.tile img {
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
}

.tile:hover {
  transform: scale(1.05);
}

.tile_image {
  width:100%;
  height:auto;
  vertical-align: middle;

}
.tile_text {
  margin:auto;
}

.new-div-2 {
  background-color: var(--color-blue);
}

.new-div-3 {
  background-color: var(--color-pink);
}

.new-div-4 {
  background-color: var(--color-yellow);
}

.bubble {
  width: 200px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 0.375);
}

@keyframes colors {
  0%, 100% {
    background-color: var(--color-blue);
  }
  25% {
    background-color: var(--color-green);
  }
  50% {
    background-color: var(--color-yellow);
  }
  75% {
    background-color: var(--color-pink);
  }
}