/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styling */
body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; /* Modern, clean font */
  font-size: 16px;
  line-height: 1.6;
  color: #e0e0e0;
  background-color: #121212; /* Dark background for tech theme */
}

.navbar {
  background-color: #1e1e1e;
}

.nav-link {
  color: #e0e0e0 !important;
}

.nav-link:hover {
  color: #f39c12 !important; /* Accent color */
}

.containerHeader {
  text-align: center;
  color: #e0e0e0;
  padding: 100px 20px 20px; /* Padding for the header section */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center text within the text column */
  text-align: center;
}

.header-image {
  img {
    height: 30vw;
  }
}

.header-large {
  font-size: 2.5rem;
  font-weight: bold;
}

.subtext {
  font-size: 1.2rem;
  font-weight: 300;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.spacer {
  margin: 10px 0;
}

.section {
  padding: 15px 20px; /* Add padding to top and bottom */
  background-color: #1e1e1e; /* Same color as the navbar */
  color: #e0e0e0;
  position: relative; /* To align section title correctly */
  margin: 20px 15px; /* Space between sections */
}

.section-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #f39c12;
}

.section-content {
  padding-top: 60px; /* Space for section title */
}

.experience-subsection {
  margin-bottom: 40px;
}

/* Associated Skills */
.associated-skills {
  margin-top: 10px;
  font-size: 0.9rem; /* Smaller font size */
  color: #b0b0b0; /* Slightly lighter gray for skills */
}

.subheader {
  font-size: 1.5rem;
  font-weight: bold;
}

.section-text {
  margin-bottom: 20px;
}

.footer {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.footer-text a {
  color: #f39c12;
}

.footer-text a:hover {
  color: #e0e0e0;
}

.btn-secondary {
  background-color: #f39c12;
  border: none;
}

.btn-secondary:hover {
  background-color: #e67e22;
}

@media (max-width: 785px) {
  /* Hide the image on mobile screens */
  .header-image {
    display: none;
  }

  /* Adjust containerHeader to a single column layout on mobile */
  .containerHeader {
    grid-template-columns: 1fr; /* Single column layout */
    text-align: center; /* Center text alignment for mobile */
  }
}